@model IEnumerable<Category>

@{ 
    Layout = "_AdminLayout";
}


<div class="card">
    <div class="card-header">Kategoriler</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>KATEGORİ ID</th>
                    <th>KATEGORİ ADI</th>
                    <th style="width:150px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CategoryId
                        </td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="EditCategory" asp-route-id="@item.CategoryId">Düzenle</a>
                            <form asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@item.CategoryId" method="post">
                                <input type="hidden" asp-for="@item.CategoryId" />
                                <button class="btn btn-sm btn-danger" type="submit">SİL</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>