@model IEnumerable<Restaurant>

    <div class="popular-directorya-area  border-bottom section-padding40 fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="directory-active">


                @foreach (var restaurant in Model)
                {
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.RestaurantId"><img src="~/app/thumb/@restaurant.Image" alt=""></a>
                                <div class="icon">
                                    <img src="~/app/assets/img/gallery/categori_icon1.png" alt="">
                                </div>
                            </div>
                            <div class="properties__caption">
                                <h3><a asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.RestaurantId">@restaurant.RestaurantName</a></h3>

                                @if (!string.IsNullOrEmpty(restaurant.Description))
                                {
                                    @if (restaurant.Description.Length < 100)
                                    {
                                        <p>@restaurant.Description</p>
                                    }
                                    else
                                    {
                                        <p>@restaurant.Description.Substring(0, 100)...</p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>