@model IEnumerable<Restaurant>

@{
    ViewData["Title"] = "Anasayfa";
}
<div class="slider-area hero-bg1 hero-overly">
    <div class="single-slider hero-overly  slider-height1 d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10">
                    <!-- Hero Caption -->
                    <div class="hero__caption pt-100">
                        <h1>Restoranları Keşfedin!</h1>
                        <p>Seveceğiniz çok fazla seçenek var!</p>
                    </div>
                    <!--Hero form -->
                    <form asp-controller="Home" asp-action="Index" class="d-flex justify-content-center align-items-center search-box mb-100">
                        <div class="input-form mx-5">
                            <input type="text" id="q" name="q" class="p-5" placeholder="Ne aramıştınız bir restoran veya kategori?">
                        </div>
                        <div class="search-form mx-5">
                            <button class="btn p-5">
                                <i class="ti-search"></i> Arama Yap
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("FeaturedRestaurant")

<div class="popular-location border-bottom section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <h2>En iyi restoranları keşfet!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">

                @if (TempData["Aranan"] != null)
                {
                    <div class="alert alert-primary">
                        <b>@TempData["Aranan"]</b> sorgusuna ait sonuçlar:
                    </div>
                }
                @if (TempData["Tümü"] != null)
                {
                    <div class="alert alert-primary">
                        <b>@TempData["Tümü"]</b>
                    </div>
                }

                @if (Model.Count() <= 0)
                {
                <div class="alert alert-danger">
                    <b>@TempData["Aranan"] Sorgusuna Ait Herhangi Bir Sonuç Bulunamadı!</b>
                </div>
                }

                <div class="row">

                    @foreach (var restaurant in Model)
                    {
                        <div class="col-lg-6">
                            <div class="single-location mb-30">
                                <div class="location-img">
                                    <img src="~/app/thumb/@restaurant.Image" alt="">
                                </div>
                                <div class="location-details">
                                    <p>@restaurant.RestaurantName</p>
                                    <br />
                                    <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.RestaurantId" class="location-btn">Restorana Git</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                @await Component.InvokeAsync("CategoryMenu")
            </div>

        </div>
    </div>
</div>
<!-- Popular Locations End -->
<!--? Want To work 01-->
<section class="wantToWork-area">
    <div class="container">
        <div class="wants-wrapper w-padding2">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>How it works</h2>
                        <p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="#" class="btn f-right sm-left">Explore Listing</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Want To work End -->
<!--? Our Services Start -->
<div class="our-services  border-bottom">
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-ion">
                        <span>01</span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Find Businesses</a></h5>
                        <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-ion">
                        <span>02</span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Review Listings</a></h5>
                        <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-ion">
                        <span>03</span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Make a Reservation</a></h5>
                        <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Services End -->
<!-- Popular Directory End -->
<!--? Popular Locations Start 01-->
<!-- Popular Locations End -->
<!--? Want To work 02-->
<section class="wantToWork-area">
    <div class="container">
        <div class="wants-wrapper w-padding2">
            <div class="row justify-content-between">
                <div class="col-xl-8 col-lg-8 col-md-7">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <img src="~/app/assets/img/logo/logo2_footer.png" alt="" class="mb-20">
                        <p>
                            Users and submit their own items. You can create different packages and by connecting with your
                            PayPal or Stripe account charge users for registration to your directory portal.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5">
                    <div class="footer-social f-right sm-left">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Want To work End -->
<!--? Want To work 01-->
<section class="wantToWork-area">
    <div class="container">
        <div class="wants-wrapper">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <div class="main-menu2">
                            <nav>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="explore.html">Explore</a></li>
                                    <li><a href="pages.html">Pages</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="#" class="btn f-right sm-left">Add Listing</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Want To work End -->
